.loading {
    margin-left: 15px;
}

#login-box {
    border: 1px solid #c6487e;
}

.error {
    color: red;
}

.empty {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
}

.required:after {
    color: red;
    content: "*";
}

.attachment {
    position: relative;
    margin-top: 5px;
}

.attachment .remove {
    position: absolute;
    right: -28px;
    top: 8px;
    width: 17px;
    text-align: center;
    height: 17px;
    line-height: 15px;
    font-size: 11px;
    font-weight: normal;
    background-color: #fb7142;
    border-radius: 100%;
    color: #FFF;
    text-decoration: none;
}

.attachments {
    list-style: none;
    margin: 0;
    padding: 0;
}

.attachments li a {
    display: block;
    height: 34px;
    line-height: 34px;
    margin-top: 15px;
    text-decoration: none;
    color: #c33b00;
    border-bottom: 1px dotted #ccc;
}

.attachments li a span {
    float: right;
    color: #929292;
}

.markdown p {
    color: #555;
    line-height: 2;
    font-size: 16px;
}

.markdown img {
    max-width: 100%;
}

.form-group select.form-control {
    min-width: 158px;
}

.section {
    margin-top: 5px;
}

input[readonly].readonly {
    background: #fff !important;
    cursor: pointer !important;
}

.md-preview p {
    color: #555;
    line-height: 2;
    font-size: 16px;
}

.md-preview img {
    max-width: 100%;
}

.page-list .dropup button.btn {
    color: #000 !important;
    background: transparent !important;
    border: 1px solid #ccc !important;
    padding: 4px 0px 0px 5px !important;
}

.dropdown-menu {
    z-index: 99 !important;
}