.loading {
    margin-left: 15px;
}

#login-box {
    border: 1px solid #c6487e;
}

.error {
    color: red;
}

.empty {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
}

.required:after {
    color: red;
    content: "*";
}

.attachment {
    position: relative;
    margin-top: 5px;
}

.attachment .remove {
    position: absolute;
    right: -33px;
    top: 8px;
    width: 17px;
    text-align: center;
    height: 17px;
    line-height: 15px;
    font-size: 11px;
    font-weight: normal;
    background-color: #fb7142;
    border-radius: 100%;
    color: #FFF;
    text-decoration: none;
}