body {
    margin: 0;
    font-size: 13px;
    background: url(../images/bg.png) left top repeat;
}

#header {
    background: url(../images/bg2.png) left top repeat-x;
    height: 292px;
}

#header .top {
    width: 1080px;
    margin: 0 auto;
}

#header .top a .img {
    display: inline-block;
    height: 28px;
    margin-left: 220px;
    width: 208px;
    background: url(../images/001.png) left 4px no-repeat;
}

#header .top a .img span {
    color: #fff;
    padding-left: 86px;
    display: inline-block;
    margin-top: 5px;
}

#header .top .form {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

#header .top .form input {
    border: 1px solid #c33b00;
    display: block;
    width: 500px;
    height: 30px;
    text-indent: 40px;
    font-size: 15px;
    outline: none;
    background: url(../images/search.png) 7px 4px #fdfdfd no-repeat;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#header .bottom {
    clear: both;
    float: left;
    margin-top: 8px;
    width: 100%;
    height: 244px;
}

#navbar {
    clear: both;
    height: 95px;
    width: 1080px;
    margin: 0 auto;
}

#navbar ul {
    width: 1080px;
    border-radius: 15px 15px 0px 0px;
    height: 60px;
    background: #c33b00;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    text-align: center;
    height: 60px;
    line-height: 63px;
    display: block;
    float: left;
    width: 120px;
}

#navbar ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

#navbar ul li.active {
    height: 56px;
    border-bottom: 4px solid #8a0e0c;
}

#navbar ul li:hover a {
    font-size: 18px;
}

#navbar .breadcrumbs {
    padding-top: 7px;
    background: #fff;
    height: 25px;
    line-height: 18px;
    padding-left: 15px;
    color: #999;
}

#navbar .breadcrumbs a {
    color: #999;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar .breadcrumbs a.active {
    color: #333;
}

#main {
    clear: both;
    width: 1080px;
    margin: 0 auto;
    margin-top: 5px;
    min-height: 300px;
    background: #fff;
}

#top1 {
    width: 1054px;
    background: #F5F5F5;
    height: 297px;
    padding: 0 13px;
    border-bottom: 1px solid #d0d0d0;
}

#banner {
    float: left;
}

#life-thing {
    width: 519px;
    height: 271px;
    background: #fff;
    margin: 13px 0 0 14px;
    float: left;
}

#life-thing .head-name div {
    background: #831111;
    width: 104px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #270000;
    color: #FFFFFF;
    text-align: center;
    float: left;
}

#life-thing .head-name a {
    float: right;
    height: 37px;
    line-height: 37px;
    width: 53px;
    color: #bb2c00;
    text-decoration: none;
}

#life-thing .title {
    display: block;
    color: #831111;
    text-decoration: none;
    height: 50px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #CECECE;
}

#life-thing .desc {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 5px;
    height: 52px;
    overflow: hidden;
}

#life-thing .list {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid #f5f5f5;
}

#life-thing .list ul {
    padding: 0;
    margin-top: 5px;
    list-style: none;
}

#life-thing .list ul li {
    border-bottom: 1px dotted #ebebeb;
}

#life-thing .list ul li:last-child {
    border-bottom: none;
}

#life-thing .list ul li a {
    color: #333;
    display: block;
    height: 28px;
    width: 500px;
    line-height: 28px;
    text-decoration: none;
}

#life-thing .list ul li a .nowrap {
    display: inline-block;
    width: 380px;
}

#life-thing .list ul li a:before {
    display: inline-block;
    margin: 0 12px 9px 0;
    width: 6px;
    height: 6px;
    overflow: hidden;
    border-radius: 3px;
    background: #929292;
    content: '';
}

#life-thing .list ul li a:hover {
    color: #fcae42;
}

#life-thing .list ul li a:hover:before {
    background: #fcae42;
}

#life-thing .list ul li a .date {
    float: right;
}

.panel {
    float: left;
    width: 519px;
    height: 295px;
    margin-left: 13px;
    margin-top: 13px;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    background: #f5f5f5;
    border-radius: 0px 0px 5px 5px;
}

.panel .toolbar {
    background: url(../images/008.png) 15px center no-repeat #cf4f16;
    height: 46px;
}

.panel .toolbar .title {
    float: left;
    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 16px;
    margin-left: 50px;
}

.panel .toolbar .more {
    height: 46px;
    line-height: 46px;
    color: #fff;
    float: right;
    margin-right: 10px;
    text-decoration: none;
}

.panel .toolbar .more .icon {
    width: 18px;
    height: 18px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.space-2 {
    display: block;
    clear: both;
    height: 2px;
}

.space-2 {
    display: block;
    clear: both;
    height: 4px;
}

.space-6 {
    display: block;
    clear: both;
    height: 6px;
}

.space-10 {
    display: block;
    clear: both;
    height: 15px;
    margin: 14px 0 9px !important;
}

.space-15 {
    display: block;
    clear: both;
    height: 15px;
}

.space-20 {
    display: block;
    clear: both;
    height: 20px;
}

.panel .list {
    margin-top: 12px;
    width: 519px;
    height: 245px;
}

.panel .list ul {
    list-style: none;
    margin: 0;
}

.panel .list ul li a {
    display: block;
    height: 37px;
    line-height: 37px;
    color: #333;
    margin-left: 39px;
    text-decoration: none;
    position: relative;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
}

.panel .list ul li a span {
    display: block;
    float: left;
    height: 37px;
    max-width: 350px;
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel .list ul li:nth-child(2n+1) a {
    background: #fff;
}

.panel .list ul li a:hover {
    background: #fcae42;
    color: #fff;
}

.panel .list ul li a:hover:before {
    position: absolute;
    top: 16px;
    left: -23px;
    display: inline-block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    border-radius: 4px;
    background: #fcae42;
    content: '';
}

.panel .list ul li a div {
    float: right;
    margin-right: 10px;
}

.panel .list ul li a:before {
    position: absolute;
    top: 16px;
    left: -23px;
    display: inline-block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    border-radius: 4px;
    background: #d4d4d4;
    content: '';
}

.novel {
    height: 325px;
    margin-left: 13px;
    margin-right: 13px;
}

.novel .head {
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #ae2901;
    color: #fff;
    font-size: 17px;
}

.novel .category {
    height: 37px;
    border-bottom: 1px solid #8a0e0c;
}

.novel .category ul {
    list-style: none;
}

.novel .category ul .first a {
    background: #8a0e0c;
    color: #fff;
}

.novel .category ul .active a {
    color: #8a0e0c;
    height: 33px;
    border-bottom: #8a0e0c 4px solid;
}

.novel .category ul li a {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    width: 95px;
    text-align: center;
    float: left;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-right: 5px;
}

.novel .category ul li a:hover {
    background: #8a0e0c;
    color: #fff;
}

.novel .category .more {
    height: 37px;
    line-height: 37px;
    float: right;
    width: 53px;
    color: #bb2c00;
    text-decoration: none;
}

.novel .category .more .icon {
    width: 18px;
    height: 18px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

.book-list {
    height: 160px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.book-list a dl {
    float: left;
    height: 160px;
    width: 120px;
    margin: 8px 25px 0 25px;
}

.book-list a dl dd {
    margin: 0;
    background: #fff;
    padding: 6px;
    border: 1px solid #dfd9ce;
    box-shadow: 0px 1px 2px #adaca9;
    display: inline-block;
}

.book-list a dl dd img {
    width: 120px;
    height: 150px;
}

.book-list a dl dt {
    margin-top: 5px;
    text-align: center;
    color: #333;
}

#link {
    clear: both;
    color: #5a5a5a;
    line-height: 22px;
    text-align: center;
    padding: 20px 0px 0px;
}

#link a {
    color: #5a5a5a;
    line-height: 22px;
    padding: 0px 10px;
    text-decoration: none;
}

#footer {
    text-align: center;
    line-height: 120px;
    width: 100%;
    color: #d1b59f;
    height: 100px;
    background: url(../images/bg3.png) left top repeat-x;
}

#main .left {
    width: 310px;
    float: left;
}

#main .left .category-name {
    height: 16px;
    line-height: 16px;
    font-weight: bold;
    margin: 13px;
    font-size: 16px;
    background: #c5c5c5;
    position: relative;
}

#main .left .category-name span {
    background: #fff;
    padding-right: 20px;
}

#main .left .category-name span:after {
    display: block;
    position: absolute;
    top: -1px;
    left: 83px;
    width: 6px;
    height: 16px;
    overflow: hidden;
    content: "";
    background: url(../images/bg_tit_sp.png) 0 -150px no-repeat;
}

#main .left .category-nav {
    list-style: none;
    margin-left: 90px;
    padding: 0;
}

#main .left .category-nav li {
    border-top: #e9e9e9 1px dashed;
    margin-right: 13px;
}

#main .left .category-nav li:nth-child(1) {
    border-top: none;
}

#main .left .category-nav li {
    border-top: #e9e9e9 1px dashed;
}

#main .left .category-nav li a {
    display: inline-block;
    padding: 13px 0;
    text-decoration: none;
    color: #666;
}

#main .left .category-nav li.active a {
    color: #0285e1;
}

#main .left .category-nav li a:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    content: "";
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent #666;
}

#main .left .category-nav li a:hover {
    color: #0285e1;
}

#main .right {
    float: left;
}

#main .right .content {
    width: 768px;
    border: 1px solid #ccc;
}

#main .hot {
    border: 1px solid #ccc;
    margin: 13px;
}

#main .hot .title {
    border-bottom: 1px solid #ccc;
}

#main .hot .title span {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    color: #000;
    border-bottom: #333 2px solid;
}

#main .hot .list {
    list-style: none;
    padding: 0;
    margin-left: 13px;
}

#main .hot .list li {
    margin-top: 5px;
}

#main .hot .list li a {
    text-decoration: none;
    display: block;
    width: 237px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

#main .hot .list li a:hover {
    color: #0285e1;
}

#main .hot .list li a:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    width: 6px;
    height: 5px;
    background: #333;
    content: "";
}

#main .right .title {
    border-bottom: 1px solid #ccc;
}

#main .right .article-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

#main .right .article-date {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

#main .right .article-content {
    margin: 25px;
    border-top: 1px dashed #e2e2e2;
    line-height: 1.8;
    text-indent: 2em;
    font-size: 14px;
    padding-top: 10px;
}

#main .right .title span {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    color: #000;
    border-bottom: #333 2px solid;
}

#main .right .list {
    list-style: none;
    padding: 0;
    margin-left: 13px;
}

#main .right .list li {
    border-bottom: #dcdcdc 1px dashed;
    padding-bottom: 20px;
}

#main .right .list li:last-child {
    border-bottom: none;
    padding-bottom: 10px;
}

#main .right .list li a {
    display: inline-block;
    height: 40px;
    width: 620px;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#main .right .list li .desc {
    overflow: hidden;
    text-align: left;
    line-height: 1.7;
    font-size: 14px;
    color: #666;
}

#main .right .list li .date {
    text-align: right;
    color: #999;
    margin-right: 13px;
}

#main .pagination {
    display: block;
    width: 768px;
    clear: both;
    float: right;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

#main .pagination li {
    display: inline-block;
}

#main .pagination li a {
    display: inline-block;
    margin: 0 0 0 6px;
    padding: 5px 13px;
    line-height: 20px;
    color: #666;
    border: #cfcfcf 1px solid;
    text-decoration: none;
}

#main .pagination li.active a {
    color: #666;
    border: #cfcfcf 1px solid;
    background: #cfcfcf;
}

.tools-list > .item a {
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    float: left;
    margin-left: 39px;
    margin-top: 30px;
}

.tools-list > .item a img {
    display: inline-block;
    width: 140px;
    height: 140px;
}

.tools-list > .item a p {
    margin-top: 10px;
}

table.ascll-table {
    float: left;
    width: 230px;
}

.tool-title {
    text-align: center;
    font-size: 34px;
    line-height: 1.1;
    font-weight: 500;
    color: #202020;
    padding-bottom: 30px;
}

#main .right .novel-list {
    list-style: none;
    margin-top: 30px;
    margin-left: 30px;
    padding: 0;
}

#main .right .novel-list li {
    display: block;
    color: #333;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    border-bottom: 1px dashed #e9e9e9;
}

#main .right .novel-list li .novel-title {
    color: #333;
    width: 165px;
    display: inline-block;
    text-decoration: none;
}

#main .right .novel-list li .new-section {
    color: #333;
    width: 350px;
    display: inline-block;
    text-decoration: none;
}

#main .right .novel-list li .author {
    color: #B3B3B3;
    width: 90px;
    text-align: right;
    display: inline-block;
    font-size: 13px;
}

#main .right .novel-list li .updated-time {
    color: #B3B3B3;
    width: 90px;
    text-align: right;
    display: inline-block;
    font-size: 13px;
}

.markdown blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-color: #e5eaf1;
    border-left: 5px solid #eee;
}

.markdown p {
    color: #555;
    line-height: 2;
    font-size: 16px;
}

.markdown a {
    color: #337ab7;
    text-decoration: none;
}

.markdown pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.markdown code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.hr-double {
    margin-left: 13px;
    margin-right: 13px;
    height: 3px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-top-color: rgba(0, 0, 0, .11);
    border-bottom-color: rgba(0, 0, 0, .11)
}

.attachments-title {
    margin-left: 13px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.attachments {
    list-style: none;
    margin: 0 13px 0 13px;
    padding: 0;
}

.attachments li {
    border-bottom: 1px dotted #ccc;
}

.attachments li a {
    display: block;
    height: 34px;
    line-height: 34px;
    margin-top: 15px;
    text-decoration: none;
    color: #c33b00;
}

.attachments li:last-child {
    border-bottom: none;
}

.attachments li a span {
    float: right;
    color: #929292;
}

.article-summary {
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 20px;
}

.markdown .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown .table > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.markdown .table td, th {
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.markdown ol.linenums {
    margin-left: 0;
    text-indent: 0;
}

.markdown ol.linenums li {
    padding-left: 0;
}

.markdown .prettyprint {
    padding: 5px;
}

.empty {
    text-align: center;
    font-size: 16px;
    height: 80px;
    line-height: 80px;
    color: #333;
}

#tool-form {
    margin: 0 auto;
}

.error {
    color: red;
    border-color: red;
}

.tool-result {
    margin: 30px;
    padding: 10px;
}

.required:after {
    color: red;
    content: "*";
}

.guest-line {
    border-bottom: 1px solid #c33b00;
}

.guest-list {
    padding-left: 0;
    list-style: none;
}

.guest-list li.item {
    margin-top: 20px;
    padding-bottom: 5px;
}

.guest-list li.item .l {
    text-align: center;
    width: 10%;
}

.guest-list li.item .l img.avatar {
    border-radius: 100%;
}

.guest-list li.item .l p.ip-info {
    font-size: 10px;
    color: #999;
    margin-top: 5px;
}

.guest-list li.item .r {
    width: 90%;
}

.guest-list li.item .r .t {
    color: #999;
    height: 30px;
}

.guest-list li.item .r .t .name {
    color: #5188a6;
}

.guest-list li.item .r .reply-user {
    color: #5188a6;
    font-weight: 500;
    margin-top: 20px;
}

.guest-list li.item .r .reply {
    padding: 5px;
    margin-top: 5px;
    background: #fcfcfc;
    border-radius: 5px;

    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}

.guest-list .line {
    clear: both;
    height: 10px;
    border-bottom: 1px solid #ccc;
}

.about {
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 40px;
    font-size: 16px;
    line-height: 30px;
}

.about div {
    margin-left: 700px;
}

.about div span {
    display: inline-block;
    width: 120px;
    text-align: right;
}