body {
    margin: 0;
    background: url(../images/bg.png) left top repeat-x;
}

#header {
    background: #f46626;
    height: 60px;
}

#header ul {
    list-style: none;
    width: 1080px;
    padding: 0;
    margin: 0 auto;
}

#header ul li {
    text-align: center;
    height: 60px;
    line-height: 60px;
    display: block;
    float: left;
    width: 120px;
}

#header ul li a {
    color: #fff;
    text-decoration: none;
}

#header ul li.active {
    height: 55px;
    border-bottom: 5px solid #ae2d00;
}

#header ul li:hover {
    font-size: 18px;
}
