body {
    margin: 0;
    font-size: 13px;
    background: url(../images/bg.png) left top repeat-x;
}

#header {
    background: url(../images/bg2.png) left top repeat-x;
    height: 292px;
}

#header .top {
    width: 1080px;
    margin: 0 auto;
}

#header .top a .img {
    display: inline-block;
    height: 28px;
    margin-left: 220px;
    width: 208px;
    background: url(../images/001.png) left 4px no-repeat;
}

#header .top .form {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

#header .top .form input {
    border: 1px solid #c33b00;
    display: block;
    width: 500px;
    height: 30px;
    text-indent: 40px;
    font-size: 15px;
    outline: none;
    background: url(../images/search.png) 7px 4px #fdfdfd no-repeat;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#header .bottom {
    clear: both;
    float: left;
    margin-top: 8px;
    width: 100%;
    height: 244px;
}

#navbar {
    clear: both;
    height: 95px;
    width: 1080px;
    margin: 0 auto;
}

#navbar ul {
    width: 1080px;
    border-radius: 15px 15px 0px 0px;
    height: 60px;
    background: #c33b00;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    text-align: center;
    height: 60px;
    line-height: 63px;
    display: block;
    float: left;
    width: 120px;
}

#navbar ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

#navbar ul li.active {
    height: 57px;
    border-bottom: 3px solid #8a0e0c;
}

#navbar ul li:hover a {
    font-size: 18px;
}

#navbar .breadcrumbs {
    padding-top: 7px;
    background: #fff;
    height: 25px;
    line-height: 18px;
    padding-left: 15px;
    color: #999;
}

#navbar .breadcrumbs a {
    color: #999;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar .breadcrumbs a.active {
    color: #333;
}

#main {
    clear: both;
    width: 1080px;
    margin: 0 auto;
    margin-top: 5px;
    min-height: 400px;
    background: #fff;
}

#top1 {
    width: 1054px;
    background: #F5F5F5;
    height: 297px;
    padding: 0 13px;
    border-bottom: 1px solid #d0d0d0;
}

#banner {
    float: left;
}

#life-thing {
    width: 519px;
    height: 269px;
    background: #fff;
    margin: 13px 0 0 14px;
    float: left;
}

#life-thing .head-name {
    background: #831111;
    width: 104px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #270000;
    color: #FFFFFF;
    text-align: center;
}

#life-thing .title {
    margin-top: 5px;
    color: #831111;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #CECECE;
}

#life-thing .desc {
    margin-top: 10px;
    margin-left: 10px;
}

#life-thing .list {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid #f5f5f5;
}

#life-thing .list ul {
    padding: 0;
    list-style: none;
}

#life-thing .list ul li {
    border-bottom: 1px dotted #ebebeb;
}

#life-thing .list ul li a {
    color: #333;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
}

#life-thing .list ul li a:hover {
    color: #831111;
}

#life-thing .list ul li a span {
    float: right;
}

#link {
    clear: both;
    color: #5a5a5a;
    line-height: 22px;
    text-align: center;
    padding: 20px 0px 0px;
}

#link a {
    color: #5a5a5a;
    line-height: 22px;
    padding: 0px 10px;
    text-decoration: none;
}

#footer {
    margin-top: 20px;
    text-align: center;
    line-height: 120px;
    width: 100%;
    color: #d1b59f;
    height: 100px;
    background: url(../images/bg3.png) left top repeat-x;
}