body {
    margin: 0;
    font-size: 13px;
    background: #fff;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 40px;
    background: #c33b00;
    color: #fff;
}

.navbar .title {
    width: 120px;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.navbar a {
    position: absolute;
    left: 10px;
    top: 7px;
    width: 25px;
    height: 25px;
    background: url("../images/back.png") left center no-repeat;
    background-size: 20px 20px;
}

.navbar form {
    position: relative;
}

.navbar form input {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 100px;
    border: 1px solid #c33b00;
    height: 25px;
    display: inline-block;
    text-indent: 32px;
    font-size: 15px;
    outline: none;
    background: url(../images/search.png) 5px 2px #fdfdfd no-repeat;
    border-radius: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.navbar form select {
    position: fixed;
    right: 0;
    top: 0;
    margin-left: 17px;
    margin-top: 3px;
    width: 57px;
    height: 32px;
    outline: none;
    border: none;
    background: transparent;

    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

.navbar form select:after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    content: "";
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #666 transparent transparent transparent;
}

.main-panel {
    margin-top: 47px;
    background: #fff;
    padding: 5px;
}

.item-list > .item a {
    display: inline-block;
    padding: 10px 34px;
    text-align: center;
    border: 1px solid #c33b00;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.item-list > .item a img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.item-list > .item a p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.about .top .left {
    background: #fff;
    padding: 5px;
    border: 1px solid #dfd9ce;
    box-shadow: 0px 1px 2px #adaca9;
    display: inline-block;
    float: left;
    margin-left: 3px;
}

.about .top .left img {
    width: 110px;
    height: 136px;
}

.about .top .right {
    float: left;
    margin-left: 10px;
}

.about .top .right ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0px;
}

.about .top .right ul li {
    height: 24px;
    line-height: 24px;
    border-bottom: 1px dashed #f5f5f5;
}

.about .top .right ul li:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    content: "";
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent #666;
}

.about .bottom {
    clear: both;
    text-indent: 27px;
    padding-left: 8px;
    padding-right: 8px;
}

.filter-form {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.filter-form div {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.filter-form .down {
    cursor: pointer;
    border-right: 1px solid #ccc;
}

.filter-form .down:after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    content: "";
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #666 transparent transparent transparent;
}

.filter-form .sort {
    cursor: pointer;
    background: #fff url("../images/sort.png") left center no-repeat;
    background-size: 12px 12px;
    background-position: 72%;
}

.article-list {
    margin-top: 10px;
}

.article-list .empty {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
}

.article-list .left {
    float: left;
}

.article-list .right {
    float: left;
    margin-left: 10px;
    max-width: 70%;
}

.article-list .full-width {
    max-width: 95%;
}

.article-list .item {
    width: 100%;
    min-height: 80px;
    float: left;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
}

.article-list .right a {
    text-decoration: none;
    color: #000;
}

.article-list .right .title {
    font-size: 15px;
    font-weight: bold;
}

.article-list .right .summary {
    text-indent: 30px;
    clear: both;
    max-height: 50px;
    padding-top: 5px;
    line-height: 17px;
    overflow: hidden;
    color: #777;
}

.article-list .left img {
    width: 98px;
    height: 74px;
}

.article-list .no-more-content {
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
    margin-top: 10px;
    clear: both;
}

.article-list .more {
    padding: 10px 0px;
    color: #ccc;
    text-align: center;
    margin-top: 10px;
    clear: both;
}

.clear {
    clear: both;
    height: 1px;
    width: 1px;
    display: block;
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    .item-list > .item a {
        padding: 5px 27px;
    }
}